.manageMemos {
  width: 100%;
}

    .memoOfTheDay {
      background-color: #B9929F;
      padding: 30px;
      margin-top: 20px;
    }

        .dayClicked {
          margin: 10px 0;
          font-size: 35px;
          color: white;
        }

        .memoListOfTheDay {
          background-color: #523249;
          margin-top: 40px;
          padding: 20px 0;
          border-radius: 10px;
        }

            .itemMemoContainer {
              position: relative;
              display: flex;
            }

                .item-memo {
                  flex:1;
                }

                .item-memo-textcontent {
                  color: white;
                  padding: 10px 70px;
                  margin: 3px 0;
                }

                .delete-button-container {
                  position: absolute;
                  width: 50px;
                  right: 20px;
                  align-self: center;
                }

                    .delete-button {
                      border: none;
                      background-color: transparent;
                      color: white;
                    }

            .done {
              text-decoration: line-through;
              background-color: #B9929F;;
              color: black;
            }

            .item-memo.hovered {
              background-color: #845A6D;
            }
