.manageMemos {
  width: 100%;
}

    .memoOfTheDay {
      background-color: #B9929F;
      padding: 30px;
      margin: 20px 0 20px 0;
      max-height: 90vh;
    }

        .dayClicked {
          margin-bottom: 10px;
          font-size: 30px;
          color: white;
        }

        .memoListOfTheDay {
          background-color: #523249;
          margin-top: 40px;
          padding: 15px 0;
          border-radius: 10px;
          max-height: 55vh;
          overflow-y: scroll;
        }

        .memoListEmpty {
          padding: 30px 0 0 0;
          color: #E2C2C6;
          font-size: 15px;
        }
