.itemMemoContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

    .item-memo-textcontent {
      flex:1;
      color: white;
      padding: 10px 70px;
      margin: 3px 0;
      position: relative;
    }

        .dateMemoText {
          position: absolute;
          width: 70px;
          left: 10px;
          top: 13px;
        }

        .delete-button {
          display: none;
        }

        .item-memo-textcontent:hover .delete-button {
          display: block;
          position: absolute;
          right: 20px;
          top: 12px;
          color: white;
        }

    .item-memo-textcontent:hover  {
      background-color: #845A6D;
    }

    .item-memo-textcontent.done {
      background-color: #B9929F;;
      color: black;
      font-weight: lighter;
    }
